.table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 1rem;
  }
  
  .table th,
  .table td {
    border: 1px solid #ccc; 
    padding: 0.5rem 1rem; 
    text-align: left; 
  }
  
  .table th {
    background-color: #f3f3f3;
    font-weight: bold; 
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  